Package: drvpcibus
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 13
Description: PCI Bus device driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
