Package: drvpcparallelport
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 9
Description: PC Parallel Port device driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
