Package: drvisaserialinput
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 10
Description: ISA Serial Input device driver
Architecture: i386-apple-rhapsody
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
