Package: drvscsiserver
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 3
Description: SCSIServer device driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
