Package: drvdpt2000
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 17
Description: DPT 2000 SCSI device driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
