Package: bpf
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: RhapsodiOS Team
Version: 3
Description: Berkely Packet Filter device driver
Build-Depends: build-base, drivertools, driverkit, kernload, libstreams
