Package: drvpcmciabus
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 15
Description: PCMCIA Bus device driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
