Package: drvetherlinkxl
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer, Inc.
Version: 5
Architecture: i386-apple-rhapsody
Description: 3Com EtherLink XL ethernet device driver
Build-Depends: build-base, drivertools, driverkit, kernload
