Package: soundblaster16
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 1
Description: Sound Blaster 16 sound device driver
Build-Depends: build-base, drivertools, driverkit, kernload
