Package: drvPS2Mouse
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 11
Description: PS2 Mouse device driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
