Package: drvetherexpress16
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer, Inc.
Version: 1
Architecture: i386-apple-rhapsody
Description: Intel EtherExpress 16 ethernet device driver
Build-Depends: build-base, drivertools, driverkit, kernload
