Package: msdosfs
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 1.0
Description: MSDOS FAT filesystem commands (mount, newfs, fsck, util)
Build-Depends: build-base
