Package: Intel82365PCMCIA
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 1
Description: Intel 82365 PCMCIA Controller Driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
