Package: drvvmwarevmxnet
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: VMware, Inc.
Version: 1.5
Architecture: i386-apple-rhapsody
Description: VMware VMXNet ethernet driver
Build-Depends: build-base, drivertools, driverkit, kernload
