Package: Intel824X0PCI
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 1
Description: Intel 824x0 PCI Controller Driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
