Package: drvadaptec1542b
Maintainer: Darwin Developers <darwin-development@public.lists.apple.com>
Vendor: Apple Computer
Version: 17
Description: Adaptec 1542B SCSI device driver
Build-Depends: build-base, drivertools, driverkit, machkit, kernload, libstreams
